<% content_for :nav do %>
<% end %>

<% content_for :page_title do %>
  Modifiez votre mot de passe
<% end %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div>
    <%= f.label :password, "Nouveau mot de passe" %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation, "Confirmez votre nouveau mot de passe" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div><%= f.submit "Changer mon mot de passe" %></div>
<% end %>

