<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>NOREV : <%= yield(:page_title) %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render 'layouts/corps' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag params[:controller] %>
  </body>
</html>
