<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Offres Print : <%= yield(:page_title) %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag 'demandes_et_commandes',      media: "all" %>
    <%= stylesheet_link_tag 'demandes_et_commandes_impr', media: "print" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/corps' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>
  </body>
</html>